html {
    background-color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #666;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    margin: 0;
    /* overflow-y: scroll; */
}

a {
    color: rgb(200, 0, 0);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 70px;
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.navibar {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 12px;
}

.content {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: right;
}

.row-padding{
    margin-bottom: 40px;
}

.third {
    float: left;
    width: 30%;
    padding: 0 8px;
}

.cardcontainer {
    padding: 0px;
}

.white,
.hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.hover-opacity:hover {
    opacity: 0.60
}

.hover-opacity-off:hover {
    opacity: 1
}